body *{
	outline: 1px dashed red;
}

div.backimage{
	background-image   : url('images/backimage.jpg');
	background-position: center top;
	background-size    : cover;
	background-repeat  : no-repeat;
	position: fixed;
	top     : 0;
	left    : 0;
	right   : 0;
	bottom  : 0;
	z-index : -1;
}

div.container{
	width:990px;
}

