div{
	outline: 1px dashed red;
}

body{
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.backimage{
	background-image   : url('images/backimage.jpg');
	position           : fixed;
	top                : 0;
	left               : 0;
	right              : 0;
	bottom             : 0;
	background-position: center top;
	background-size    : cover;
	background-repeat  : no-repeat;
	z-index            : -1;
}

div.container-tooltip{
	padding: 30px 0 10px;
}

div.tooltip{
	background-color: #FFD62C;
	padding         : 7px 5px;
	font-size       : 12px;
	margin-right    : 10px;
}

div.container-header{
	padding         : 20px 0;
	background-color: #fff;
}

div.container-header .logo{

}

div.container-header .logo h1{
	background-image : url('images/logo.png');
	background-repeat: no-repeat;
	width            : 144px;
	height           : 37px;
	text-indent      : 1000px;
	background-size  : 100% 100%;
	overflow         : hidden;
	display          : inline-block;
}

div.container-header .logo span{
	vertical-align: bottom;
	margin-left   : 30px;
	color         : #B2B2B6;
}

div.container-header .menu{

}