body *{
	outline: 1px dashed red;
}

div.backimage{
	background-image   : url('images/backimage.jpg');
	position           : fixed;
	top                : 0;
	left               : 0;
	right              : 0;
	bottom             : 0;
	background-position: center top;
	background-size    : cover;
	background-repeat  : no-repeat;
	z-index            : -1;
}

div.container{
	width:990px;
}

.container-tooltip{
	padding: 30px 0 10px;

}

.tooltip{
	background-color: #FFD62C;
	padding         : 7px 5px;
	font-size       : 12px;
	margin-right    : 10px;
	font-family     : 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.container-header{
	padding         : 20px 20px;
	background-color: #fff;
	margin-bottom:10px;
}

header.container-header .logo h1{
	background-image : url('images/logo.png');
	background-repeat: no-repeat;
	width            : 144px;
	height           : 37px;
	text-indent      : 1000px;
	background-size  : 100% 100%;
	overflow         : hidden;
}

header.container-header .logo h2{
	color      : #B2B2B6;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size  : 12px;
	font-style : italic;
	margin-top : 25px;
}

header.container-header .menu > ul{
	list-style-type: none;
}

header.container-header .menu li{
	float      : left;
	border-left: 3px solid transparent;
	position   : relative;
}

header.container-header .menu > ul > li:first-child{
	border-left: 0 none;
}

header.container-header .menu a{
	display        : block;
	padding        : 7px 5px;
	text-decoration: none;
	color          : #B2B2B6;
	font-size      : 17px;
	text-transform : capitalize;
	text-align     : center;
}

header.container-header .menu ul li:hover > a{
	color: #555;
}

header.container-header .menu li ul{
	list-style-type : none;
	position        : absolute;
	display         : none;
	min-width       : 100%;
	top             : 30px;
	left            : 0;
	background-color: #fff;
	z-index         : 2;
}

header.container-header .menu li li{
	float      : none;
	border-left: 0 none;
	color      : #fff;
}

header.container-header .menu li:hover ul{
	display: block;
}

header.container-header .menu li li a{
	white-space: nowrap;
	font-size  : 15px;
}

header.container-header .menu li li:hover{
	color: #555;
}

.container-baner{
	padding         : 20px 20px;
	background-color: #fff;
}

.container-baner .slide .slideshow{
	width   : 700px;
	overflow: hidden;
	position: relative;
}

.container-baner .slide .slideshow .trian{
	width             : 3000px;
	position          : relative;
	-webkit-transition: left 1s;
	-moz-transition   : left 1s;
	-o-transition     : left 1s;
	-ms-transition    : left 1s;
	transition        : left 1s;
}

.container-baner .slide .slideshow .trian > div{
	float: left;
}

.container-baner .slide .slideshow .trian > div > img{
	display: block;
}

.container-baner .slide .slideshow ul.slidebtn{
	list-style-type: none;
	position       : absolute;
	top            : 330px;
	left           : 630px;
}

.container-baner .slide .slideshow li{
	float             : left;
	width             : 10px;
	height            : 10px;
	background-color  : #ddd;
	border-radius     : 50%;
	margin-right      : 5px;
	-webkit-transition: all 700ms;
	-moz-transition   : all 700ms;
	-ms-transition    : all 700ms;
	-o-transition     : all 700ms;
	transition        : all 700ms;
}

.container-baner .slide .slideshow li:hover{
	background-color  : #39D;
	width             : 8px;
	height            : 8px;
	-webkit-transition: all 200ms;
	-moz-transition   : all 200ms;
	-ms-transition    : all 200ms;
	-o-transition     : all 200ms;
	transition        : all 200ms;
}

.container-baner .text h1,h2{
	font  : 13px/21px Georgia, "Times New Roman", Times, serif;
	color :#555;
	margin:30px 0;
}
